@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  height: 100vh;
}

.search-controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}